
.box{ height: 200px;;
  width:200PX;
  /* background-color: brown; */
  border:1px solid black;
  border-radius: 5px;
  margin: auto;
}
.text{
  margin-top: 70px;
  margin-left: 60px;
  padding-left: 10px;
  

}